// Definiere benannte Breakpoints
// TAILWIND
// sm	640px	@media (min-width: 640px) { ... }
// md	768px	@media (min-width: 768px) { ... }
// lg	1024px	@media (min-width: 1024px) { ... }
// xl	1280px	@media (min-width: 1280px) { ... }
// 2xl	1536px	@media (min-width: 1536px) { ... }
$breakpoints: (
  sm: 1px,
  md: 641px,
  md-2: 773px,
  lg: 769px,
  xl: 1025px,
  2xl: 1281px,
);

// // Mixin, um Media Queries mit benannten Breakpoints zu erstellen
@mixin breakpoint($name) {
  $size: map-get($breakpoints, $name);
  $next: null;

  @if $name == sm {
    $next: md;
  }

  @else if $name == md {
    $next: lg;
  }

  @else if $name == lg {
    $next: xl;
  }

  @else if $name == xl {
    $next: 2xl;
  }

  @if $next !=null {
    @media(min-width: $size) {
      @content;
    }
  }

  @else {
    @media(min-width: $size) {
      @content;
    }
  }
}