// individual styles
$border: #E0E6EF;
$primary: #2079ff;
$secoundary: #FF725E;
$text: #263238;
$white: #fff;

// px to rem - value in px
@function rem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

div#root {
    max-width: rem(1360);
    width: 100%;
    margin: 0 auto;
    color: $text;
}

.strong {
    font-weight: 600;
    font-size: rem(16);
}

.border-slim {
    border: 1px solid $border;
    border-radius: rem(6);
}

.border-box {
    @extend .border-slim;

    max-width: rem(318);

    ul {
        padding: rem(28) rem(36) rem(28); 
        li {
            padding: rem(7) 0;
            a {
                &.active {
                    color: $primary;
                }

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .help-link {
        display: block;
        position: relative;
        padding: rem(18) rem(36) rem(18); 

        &:hover {
            color: $primary;
        }

        &::before {
            content: '';
            display: block;
            max-width:rem(318);
            width:100%;
            height: rem(1);
            background-color: $border;
            position:absolute;
            left:0;
            top: 0;
        }
    }
}

form {
    label {
        display: block;
    }

    input {
        width: 100%;
        margin-top: rem(15);
        border: 1px solid $text;
        padding: rem(5) 0;
        border-radius: rem(6);

        &[type="submit"]{
           @extend .settings-btn;

           &.save {
                background-color: $secoundary;
                border: 1px solid $secoundary;
                color: $white;
                transition: 350ms ease-in-out all;
                width: 100%;
                max-width: rem(200);
                height: rem(45);

                &:hover {
                    background-color: $white;
                    color: $secoundary;
                    cursor: pointer;
                }
           }
        }
    }
}

.settings-btn {
    @extend .border-slim;
    padding: rem(6) rem(15);
    width: auto;
}
