.max-grid {
    max-width: rem(1360);
    width: 100%;
    margin: 0 auto;
    color: $text;
    padding: 0 rem(15);

    &.content {
        padding: rem(50) rem(15);

        @include breakpoint(md) {
            padding: rem(20) rem(15) rem(100) rem(15);
        }

        @include breakpoint(lg) {
            padding: rem(0) rem(15) rem(100) rem(15);
        }

        @include breakpoint(xl) {
            padding: rem(0) rem(15) rem(100) rem(15);
        }
    }

    &.content-pt {
        padding: rem(50) rem(15);

        @include breakpoint(md) {
            padding: rem(70) rem(15) rem(100) rem(15);
        }

        @include breakpoint(lg) {
            padding: rem(75) rem(15) rem(100) rem(15);
        }

        @include breakpoint(xl) {
            padding: rem(90) rem(15) rem(100) rem(15);
        }

        h2 {
            font-family: "Titan One", sans-serif;
            text-transform: uppercase;
            font-size: rem(18);

            @include breakpoint(lg) {
                font-size: rem(20);
            }
        }
    }

    &.bg {
        background-color: $border;
    }

    &.team {
        ul {
            font-weight: 300;

            li {
                margin-bottom: rem(10);

                a {
                    color: $primary;

                    &:hover {
                        text-decoration: underline;
                        color: $primary;
                    }
                }
            }
        }
    }

    .center {
        text-align: center;
    }
}

.over-the-clouds {
    z-index: 999;
}

p {
    margin-bottom: rem(15) !important;
}

p>a {
    text-decoration: none;
    color: $secondary;

    &:hover {
        text-decoration: underline;
    }
}

.align-v {
    margin: auto 0;
}

.strong {
    font-weight: 600;
    font-size: rem(16);
}

.border-slim {
    border: 1px solid $border;
    border-radius: rem(6);
    background-color: $white;
}

.box-shadow {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.border-box {
    @extend .border-slim;

    &.setting-box {
        max-width: 95%;
        margin: 0 auto;

        @include breakpoint(md) {
            text-align: center;
        }

        @include breakpoint(lg) {
            text-align: left;
            margin: 0 0;
            max-width: rem(318);
        }
    }


    ul {
        padding: rem(28) rem(36) rem(28);

        li {
            padding: rem(7) 0;

            a {
                &.active {
                    color: $primary;
                }

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .help-link {
        display: block;
        position: relative;
        padding: rem(18) rem(36) rem(18);

        &:hover {
            color: $primary;
        }

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: rem(1);
            background-color: $border;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

form {
    label {
        display: block;
    }

    input {
        width: 100%;
        margin-top: rem(15);
        border: 1px solid $text;
        padding: rem(5) 0;
        border-radius: rem(6);

        &[type="submit"] {
            @extend .settings-btn;

            &.save {
                @extend .btn-secondary;
            }
        }
    }
}

.settings-btn {
    @extend .border-slim;
    padding: rem(6) rem(15);
    width: auto;
}

.btn-primary {
    background-color: $primary;
    border: 1px solid $primary;
    color: $white;
    transition: 350ms ease-in-out all;
    width: 100%;
    max-width: rem(200);
    height: rem(45);

    &:hover {
        background-color: $white;
        color: $primary;
        cursor: pointer;
    }
}

.btn-secondary {
    @extend .btn-primary;
    background-color: $secondary;
    border: rem(1) solid $secondary;

    &:hover {
        color: $secondary;
    }
}

.btn-alert {
    @extend .btn-primary;
    background-color: $alert;
    border: rem(1) solid $alert;

    &:hover {
        background-color: $alert;
        color: $white;
        border: rem(1) solid $alert;
    }
}

footer {
    background-color: $text;
    padding: rem(50) 0;
    //margin-top: rem(25);

    @include breakpoint(md) {
        padding: rem(65) 0;
        //margin-top: rem(55);
    }

    @include breakpoint(lg) {
        padding: rem(80) 0;
    }

    .line {
        margin-bottom: rem(50);
        display: block;
        position: relative;

        &::before {
            width: 1px;
            height: 120px;
            background-color: $white;
            position: absolute;
            left: 70%;
            top: 0px;

            @include breakpoint(lg) {
                content: '';
            }

            @include breakpoint(xl) {
                left: 50%;
            }
        }
    }

    .max-grid {
        color: $white;
        padding: 0 rem(15);

        @include breakpoint(lg) {
            max-width: rem(1230) !important;
            padding: 0 rem(15);
        }
    }

    .footer-logo {
        max-width: rem(250);
        width: 100%;
        margin: 0 auto;

        @include breakpoint(md) {
            margin: auto 0;
        }

        @include breakpoint(lg) {
            max-width: rem(290);
            float: right
        }
    }

    .konto {
        display: block;
        margin-bottom: rem(25);
        text-align: center;
    }

    .footer-navi {
        display: block;
        text-align: center;


    }

    p.hl {
        font-family: 'Titan One';
        font-size: rem(14);
        margin-bottom: rem(9) !important;

        @include breakpoint(md) {
            width: 100%;
            text-align: right;
            margin-bottom: rem(0) !important;
        }

        span {

            @include breakpoint(xl) {
                //display: block;
            }
        }
    }

    ul {
        li {
            @include breakpoint(md) {
                text-align: right;
            }

            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}


// HEADER

header {
    background-image: url('../../public/images/HEADER/header-bg-img.png');
    background-repeat: repeat;

    .header-general {
        padding: rem(125) rem(15) rem(50);
        text-align: center;

        @include breakpoint(md) {
            padding: rem(155) rem(15) rem(80);
        }

        @include breakpoint(lg) {
            padding: rem(155) rem(15) rem(100);
        }

        @include breakpoint(xl) {
            padding: rem(200) rem(15) rem(120);
            text-align: left;
        }
    }

    .header-page {
        padding: rem(145) rem(15) rem(30);
        text-align: center;

        @include breakpoint(md) {
            padding: rem(155) rem(15) rem(30);
        }

        @include breakpoint(xl) {
            padding: rem(150) rem(15) rem(36);
        }

        h1 {
            font-family: 'Titan One', sans-serif;
            font-size: rem(22);
            margin-top: 0;

            @include breakpoint(lg) {
                font-size: rem(27);
            }
        }
    }

    .header-event {
        padding: rem(145) rem(15) rem(30);

        @include breakpoint(md) {
            padding: rem(155) rem(15) rem(30);
        }

        @include breakpoint(xl) {
            padding: rem(150) rem(15) rem(36);
        }

        h1 {
            font-family: 'Titan One', sans-serif;
            font-size: rem(22);
            margin-top: 0;

            @include breakpoint(lg) {
                font-size: rem(27);
            }
        }
    }

    .clouds {
        position: relative;

        &::before {
            width: rem(133);
            height: rem(32);
            position: absolute;
            left: rem(-90);
            top: rem(65);
            display: block;
            z-index: 99;

            @include breakpoint(xl) {
                content: url('../img/cloud_1.png');
            }
        }

        &::after {
            width: rem(260);
            height: rem(65);
            position: absolute;
            left: rem(-40);
            top: rem(-65);
            display: block;
            z-index: 99;

            @include breakpoint(xl) {
                content: url('../img/cloud_2.png');
            }
        }
    }

    .header-logo {
        max-width: rem(200);
        margin: 0 auto;
        position: relative;

        @include breakpoint(ml) {
            max-width: rem(230);
        }

        @include breakpoint(xl) {
            max-width: rem(250);
            margin: auto;
        }
    }

    h1 {
        font-size: rem(35);
        margin-top: rem(30);
        text-transform: uppercase;

        @include breakpoint(md) {
            font-size: rem(55);
            margin-top: rem(45);
        }

        @include breakpoint(xxl) {
            font-size: rem(80);
        }


        span {
            margin-top: rem(15);
            display: block;
            font-weight: 300;
            font-size: rem(18);
            text-transform: none;

            @include breakpoint(md) {
                margin-top: rem(20);
                font-size: rem(20);
            }

            @include breakpoint(xxl) {
                margin-top: rem(35);
                font-size: rem(22);
            }
        }
    }

    .header-img-box {
        display: none;

        @include breakpoint(xl) {
            display: block;
        }
    }

    form {
        margin: rem(30) auto;
        width: 75%;
        max-width: rem(464);
        font-size: rem(16);
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 300;

        @include breakpoint(md) {
            width: 100%;
            margin: rem(40) auto rem(30) auto;
        }

        @include breakpoint(xl) {
            margin: rem(70) auto rem(30) auto;
        }

        label {
            &:first-child {
                input {
                    border-radius: rem(6) rem(6) 0 0;

                    @include breakpoint(md) {
                        border-radius: rem(6) 0 0 rem(6);
                    }
                }
            }

            @include breakpoint(md) {
                width: 33%;
                float: left;
            }

            input {
                border: rem(1) solid $border;
                width: 100%;
                margin: 0;
                border-radius: 0;
                min-height: rem(40);

                &::placeholder {
                    text-align: center;
                }

                &[type=submit] {
                    background-color: $primary;
                    color: $white;
                    width: 100%;
                    border-radius: 0 0 rem(6) rem(6);
                    position: relative;
                    border-color: $primary;

                    @include breakpoint(md) {
                        border-radius: 0 rem(6) rem(6) 0;
                    }

                    &:before {
                        content: url('../img/magnifying-glass.svg');
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

        }


    }

    .header-logged-in {
        padding: rem(125) rem(15) rem(50);

        @include breakpoint(md) {
            padding: rem(155) rem(15) rem(0);
        }

        @include breakpoint(lg) {
            padding: rem(155) rem(15) rem(0);
        }

        h1 {
            font-family: "Sue Ellen Francisco", cursive;
        }
    }

    .creator {
        margin-top: rem(19);

        .creator-profil-img {
            width: rem(60);
            height: rem(60);
            border: rem(3) solid $secondary;
            border-radius: 100%;
            position: relative;
            overflow: hidden;
            background-color: $border;

            img {
                width: auto;
                height: auto;
                min-width: rem(90);
                max-height: rem(90);
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .creator-info {
            >span {
                font-weight: 300;
                margin-top: rem(5);
                font-size: rem(16);
                display: block;
                margin-left: rem(12);

                >span {
                    position: relative;
                    top: rem(-2);
                    display: block;
                    font-weight: bold;
                    font-size: rem(16);
                }
            }
        }
    }

    .event-image {
        display: block;
        width: 100%;
        height: rem(180);
        border-radius: rem(8);
        background-color: $border;
        position: relative;
        overflow: hidden;

        @include breakpoint(md) {
            height: rem(250);
        }

        @include breakpoint(xl) {
            height: rem(350);
        }

        img {
            width: auto;
            height: auto;
            min-width: rem(90);
            min-height: rem(200);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            @include breakpoint(md) {
                min-height: rem(290);
            }

            @include breakpoint(xl) {
                min-height: rem(350);
            }
        }
    }

    .btn {
        margin: rem(20) 0;

        div {
            width: 100%;

            button {
                border: rem(1) solid $text;
                padding: rem(8) rem(15);
                font-weight: 300;
                border-radius: rem(6);
                width: 100%;
                max-width: 200px;
                transition: 350ms all ease-in-out;
                color: $text;

                &:hover {
                    background-color: $primary;
                    color: $white;
                    border: rem(1) solid $primary;
                }

                &.delete {
                    color: $secondary;
                    border: rem(1) solid $secondary;

                    &:hover {
                        background-color: $secondary;
                        color: $white;
                    }
                }
            }
        }
    }
}

//MAIN
.bg-border {
    width: 100%;
    background-color: $border;
    background-image: url('../img/bg-pattern-white-dots.png');
    background-repeat: repeat;
}
.bg-blue {
    width: 100%;
    background-color: $primary;
    background-image: url('../img/pattern-dark.png');
    background-repeat: repeat;

    h2 {
        color: $white;
        font-size: rem(25);
        padding-left: 15px;
        margin-bottom: rem(30);

        @include breakpoint(md) {
            font-size: rem(28);
        }

        @include breakpoint(xl) {
            font-size: rem(38);
        }

        >span {
            border-radius: rem(6);
            padding: rem(15) rem(18);
            font-size: rem(16);
            display: block;

            @include breakpoint(md) {
                display: inline;
                border: 1px solid $white;
            }

            .place {
                font-weight: 600;
            }
        }
    }

    p {
        margin-bottom: 0 !important;
    }
}

.bg-gray {
    width: 100%;
    background-color: $border;
    background-image: url('../img/bg-pattern-white-dots.png');
    background-repeat: repeat;
    padding: rem(20) 0;

    @include breakpoint(md) {
        padding: rem(70) 0;
    }

    @include breakpoint(lg) {
        padding: rem(140) 0;
    }

    @include breakpoint(xl) {
        padding: rem(150) 0;
    }

    h3 {
        font-size: rem(30);
        padding-left: rem(25);

        @include breakpoint(md) {
            padding-left: rem(35);
            font-size: rem(35);
        }

        @include breakpoint(xl) {
            font-size: rem(40);
        }
    }

    .register {
        padding: rem(25) rem(15);

        @include breakpoint(lg) {
            max-width: 90%;
            margin: 0 auto;
        }

        @include breakpoint(xl) {
            max-width: 80%;
        }

        >div {
            border-radius: rem(8);
            margin-top: rem(25);
            background-color: $white;
            position: relative;

            &::before {
                width: rem(318);
                height: rem(269);
                position: absolute;
                right: 0;
                bottom: -3px;

                @include breakpoint(md) {
                    content: url('../img/CHARACTER_COMMUNITY.png');
                }

                @include breakpoint(xxl) {
                    left: rem(-40);
                }
            }

            >p {
                padding: rem(25);

                @include breakpoint(md) {
                    padding: rem(35);
                    max-width: 50%;
                }

                @include breakpoint(lg) {
                    max-width: 60%;
                }

                @include breakpoint(xl) {
                    max-width: 70%;
                }
            }

        }
    }

    button {
        margin-top: rem(25);
        max-width: rem(270);
        display: block;
    }
}

.section {
    padding: rem(30) rem(15);

    @include breakpoint(md) {
        padding: rem(70) rem(15);
    }

    @include breakpoint(lg) {
        padding: rem(140) 0;
    }

    @include breakpoint(xl) {
        padding: rem(150) 0;
    }

    h2 {
        margin-bottom: rem(30);
        font-size: rem(30);

        @include breakpoint(md) {
            font-size: rem(33);
        }

        @include breakpoint(lg) {
            font-size: rem(38);
        }
    }
}

.root {
    position: relative;
}

.progressbar {
    display: block;
    width: 100%;
    height: rem(6);
    background-color: $border;
    position: fixed;
    top: rem(83);
    left: 0;
    right: 0;
    z-index: 1;

    @include breakpoint(lg) {
        top: rem(88);
    }

    span {
        display: inline-block;
        position: absolute;
        // width: 20%;
        height: rem(6);
        background-color: $secondary;
    }
}

.btn-event {
    transition: 350ms ease-in-out all;
    font-size: rem(16);
    text-align: center;
    width: rem(200);
    height: rem(45);
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint(md) {
        transform: translateX(0);
        left: auto;
    }

    &.add {
        border: 1px solid $primary;
        border-radius: rem(6);
        max-height: rem(40);
        background-color: $primary;
        color: $white;
        transform: translateX(0);

        &:hover {
            color: $primary;
            background-color: $white;
        }
    }

    &.upload {
        max-width: rem(110) !important;
        border-radius: 0 6px 6px 0 !important;
        background-color: $border !important;
        border: rem(1) solid $border !important;
        color: $white;
        transform: translateX(0);
        height: 100%;

        &.active {
            background-color: $secondary !important;
            border: rem(1) solid $secondary !important;

            &:hover {
                background-color: $secondary !important;
                border: rem(1) solid $secondary !important;
            }
        }
    }

    &.event-back {
        background-color: $white;
        color: $border;
        border-radius: rem(6);
        border: 1px solid $border;
        position: relative;
        overflow: hidden;

        &:hover {
            color: $white;
            background-color: $primary;
            border: 1px solid $primary;

            &:before {
                left: rem(-50);
                color: $white;
            }
        }

        // &:before {
        //     content: '<';
        //     color: $border;
        //     position: absolute;
        //     left: rem(50);
        //     top: rem(8);
        //     transition: 450ms ease-in-out all;
        // }
    }

    &.event-next {
        background-color: $secondary;
        color: $white;
        border-radius: rem(6);
        border: 1px solid $secondary;
        position: relative;
        overflow: hidden;
        margin-top: rem(12);

        @include breakpoint(md) {
            margin-top: 0;
        }

        &:hover {
            color: $secondary;
            background-color: $white;
            border: 1px solid $secondary;

            &:before {
                right: rem(-50);
                color: $secondary;
            }
        }

        // &:before {
        //     content: '>';
        //     color: $white;
        //     position: absolute;
        //     right: rem(60);
        //     top: rem(8);
        //     transition: 450ms ease-in-out all;
        // }
    }
}

.event-form {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;

    .input-field {
        border: rem(1) solid $border;
        width: 100%;
        margin: 0;
        border-radius: rem(6) 0 0 rem(6);
        padding: rem(15) rem(20);
        position: relative;
        left: rem(8);

        @include breakpoint(md) {
            padding: rem(10) rem(70);
        }
    }

    input {
        border: rem(1) solid $border;
        width: 100%;
        margin: 0;
        border-radius: rem(6);
        min-height: rem(40);
        margin-bottom: rem(8);
        padding-left: rem(20);

        &::placeholder {
            text-align: left;
            //padding-left: rem(25);
        }

        &::-webkit-calendar-picker-indicator {
            padding-right: rem(15);
        }

        &::-webkit-datetime-edit {
            color: #a1a6b2;

            &:hover {
                cursor: pointer;
            }
        }
    }
}



.create-event-form {
    .step-name {
        h2 {
            font-size: rem(20);
            //font-weight: bold;

            @include breakpoint(lg) {
                //font-size: rem(24);
            }
        }
    }

    .tabber {
        min-width: rem(200);
    }

    .selectedTabber {
        color: $white;
        background-color: $primary;
    }

    .highlightTabber {
        color: $white;
        background-color: rgba(32, 121, 255, 0.75);
    }

    .sub-headline {
        font-size: rem(14);
        margin: 35px 0 25px 0;
    }

    .hashtag-btn {
        padding: rem(3) rem(10);
        background-color: $border !important;
        border: rem(1) solid $border;
        color: $white;
        border-radius: rem(8);
        transition: 350ms all ease-in-out;
        font-size: rem(14);
        font-weight: bold;

        &:hover {
            border: rem(1) solid $primary;
            //background-color: $primary !important;
        }

        &.active {
            border: rem(1) solid $primary;
            background-color: $primary !important;
        }
    }

}

// EVENT DETAILS

.event-card {
    font-weight: 300;
    border: rem(1) solid $border;
    border-radius: rem(8);

    &:hover {
        @extend .box-shadow;
    }

    .img-round {
        border-radius: rem(6)
    }

    .hl {
        margin: rem(10) 0 rem(15) 0;
        padding: 0 rem(5);

        @include breakpoint(xl) {
            font-size: rem(18);
        }
    }

    .details {
        text-align: center;
        border: rem(1) solid $primary;
        border-radius: rem(6);
        background-color: $white;
        color: $primary;
        margin-top: rem(15);
        padding: rem(7) 0;
        transition: 350ms all ease-in-out;

        &:hover {
            background-color: $primary;
            color: $white
        }
    }
}

.event-box {
    border-radius: rem(8);
    border: rem(1) solid $border;
    font-weight: 300;

    .event-content-box-left {
        position: relative;
        padding: rem(25);

        @include breakpoint(md) {
            padding: rem(50) rem(25);
        }

        &:before {
            content: '';
            width: rem(1);
            height: 100%;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            background-color: $border;
        }

        ul {
            li {
                margin-bottom: rem(20);
                padding-left: rem(35);
                position: relative;

                &.date {
                    span {
                        display: block;
                    }

                    &:before {
                        content: url('../img/helper/heroicons-outline/clock.svg');
                        position: absolute;
                        left: 0;
                        top: rem(2);
                    }
                }

                &.adress {
                    span {
                        display: block;
                        color: $border;
                    }

                    &:before {
                        content: url('../img/helper/heroicons-outline/MAP\ VECTOR.svg');
                        position: absolute;
                        left: rem(3);
                        top: rem(3);
                    }
                }

                &.participants {

                    &:before {
                        content: url('../img/helper/heroicons-outline/community.svg');
                        position: absolute;
                        left: rem(2);
                        top: rem(3);
                    }
                }

            }
        }

        .btns {
            margin-top: rem(15);

            @include breakpoint(md) {
                margin-top: rem(35);
            }

            button {
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                border-radius: rem(6);
                transition: 350ms all ease-in-out;
                padding: rem(8) 0;


                &.teilnehmen {
                    background-color: $primary;
                    color: $white;
                    border: rem(1) solid $primary;
                    margin-bottom: rem(6);

                    &:hover {
                        border: rem(1) solid $secondary;
                        background-color: $secondary;
                    }

                    // &.austreten {
                    //     background-color: $alert;
                    //     color: $white;
                    //     border: rem(1) solid $alert;
                    //     margin-bottom: rem(6);

                    //     &:hover {
                    //         border: rem(1) solid $alert;
                    //         background-color: $alert;
                    //     }
                    // }
                }

                &.bewerten {
                    background-color: $white;
                    color: $primary;
                    border: rem(1) solid $primary;

                    &:hover {
                        border: rem(1) solid $secondary;
                        color: $secondary;
                    }
                }
            }
        }


    }

    .event-content-box-right {
        padding: rem(25);

        @include breakpoint(md) {
            padding: rem(50) rem(25);
        }

        h2 {
            text-transform: none;
            font-size: rem(22);
            font-family: "Sue Ellen Francisco";
            font-weight: 400;
            margin-bottom: rem(20);

            @include breakpoint(md) {
                font-size: rem(27);
            }
        }

        .event-des {
            word-wrap: break-word;
        }
    }

}

.hashtags {
    font-weight: 300;
    margin-top: rem(20);
    display: block;

    @include breakpoint(md) {
        float: right;
    }

    span {
        color: $white;
        background-color: $border;
        border: rem(1) solid $border;
        border-radius: rem(6);
        font-size: rem(14);
        padding: rem(2) rem(6);
        display: inline-block;
        margin-left: rem(7);
        transition: 350ms all ease-in-out;

        &:hover {
            cursor: pointer;
            border: rem(1) solid $primary;
            background-color: $primary;
        }
    }
}

// USER SETTINGS

.setting-form {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    margin-top: rem(10);
    padding: 0;

    .profile-img {
        margin-bottom: rem(25);
        text-align: center;

        @include breakpoint(md) {
            margin-bottom: rem(35);
        }

        .user-picture {
            width: 100%;
            display: block;

            >div {
                width: rem(150);
                height: rem(150);
                border: rem(2) solid $primary;
                border-radius: 100%;
                overflow: hidden;
                position: relative;
                margin: 0 auto 0 auto;
                display: inline-block;

                @include breakpoint(md) {
                    //margin: 0 rem(35) 0 0;
                    width: rem(88);
                    height: rem(88);
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    min-width: rem(150);
                    min-height: rem(150);

                    @include breakpoint(md) {
                        min-width: rem(90);
                        min-height: rem(90);
                    }
                }
            }

        }
    }

    .sm-headline {
        font-weight: bold;
        margin: rem(25) 0 rem(15) 0;
        display: block;
        padding-left: rem(15);

        @include breakpoint(md) {
            margin-top: rem(35) 0 rem(15) 0;
        }
    }

    p {
        padding-left: rem(15);
    }

    .input-field {
        border: rem(1) solid $border;
        width: 100%;
        margin: 0;
        border-radius: rem(6) 0 0 rem(6);
        padding: rem(15) rem(20);
        position: relative;
        left: rem(8);


        @include breakpoint(md) {
            padding: rem(10) rem(70);
        }
    }

    input,
    select {
        border: rem(1) solid $border;
        width: 100%;
        margin: 0;
        border-radius: rem(6);
        min-height: rem(40);
        margin-bottom: rem(8);
        padding: 0 1.25rem 0 1.25rem;

        // &[type='password'] {
        //     &:-webkit-input-placeholder {
        //         color: red;
        //     }
        // }

        &.delete-profile-img {
            border: rem(1) solid $alert;
            color: $alert;
            background-color: $white;
            width: 100%;
            transition: 350ms ease-in-out all;
            max-height: rem(45);
            margin-top: rem(15);
            margin-bottom: 0;

            @include breakpoint(md) {
                max-width: rem(200);
                margin-top: rem(15);
            }

            &:hover {
                border: rem(1) solid $secondary;
                color: $white;
                background-color: $secondary;
                cursor: pointer;
            }
        }

        &.new-upload {
            border: rem(1) solid $primary;
            color: $white;
            background-color: $primary;
            width: 100%;
            transition: 350ms ease-in-out all;
            max-height: rem(45);

            @include breakpoint(md) {
                margin-right: rem(15);
                max-width: rem(200);
            }

            &:hover {
                border: rem(1) solid $secondary;
                color: $white;
                background-color: $secondary;
            }
        }



        &::placeholder {
            text-align: left;
            //padding-left: rem(25);
        }
    }

    & .save {
        border: rem(1) solid $secondary;
        color: $white;
        background-color: $secondary;
        width: 100%;
        max-width: rem(270);
        transition: 350ms ease-in-out all;
        border-radius: rem(6);
        padding: rem(6) rem(25);
        float: right;
        display: inline-block;
        margin-top: rem(25);

        &:hover {
            color: $secondary;
            background-color: $white;
        }

        &.password {
            border: rem(1) solid $primary;
            background-color: $primary;

            &:hover {
                color: $primary;
                background-color: $white;
            }
        }
    }
}

// HELPER

.w100 {
    width: 100%;
}

// OVERWRITE
.MuiPaper-root {
    border: rem(1) solid $border !important;
    border-radius: rem(6) !important;
    margin-bottom: rem(10) !important;
    box-shadow: none !important;
}

//PROFIL
.profil-card {
    @extend .border-slim;
    border-radius: rem(8);
}

// COMMENTS

.comment-form {
    #content {
        min-height: rem(150);
    }
}

.commment-section {
    padding: rem(50) rem(15);

    @include breakpoint(md) {
        padding: rem(70) rem(25) rem(100) rem(25);
    }

    @include breakpoint(lg) {
        padding: rem(75) rem(30) rem(100) rem(30);
    }

    @include breakpoint(xl) {
        padding: rem(90) rem(35) rem(100) rem(35);
    }

    .no-comment {
        svg {
            display: inline-block;
            width: rem(20);
            height: rem(20);
        }
    }

    h2 {
        text-align: center;
        font-size: rem(26) !important;
        font-family: "Sue Ellen Francisco", cursive !important;
        margin-bottom: rem(20);

        @include breakpoint(md) {
            font-size: rem(32) !important;
            margin-bottom: rem(35);
        }
    }

    .comment-box {
        border: rem(1) solid $border;
        border-radius: rem(6);
        padding: rem(25);
        width: 100%;

        .title {
            font-family: 'Titan One', sans-serif;
            font-size: rem(20);

            @include breakpoint(md) {
                font-size: rem(24);
            }

            .stars {
                display: block;
                font-weight: 300;
                position: relative;
                color: $primary;
                top: rem(-6);

                svg {
                    width: rem(20);
                    margin-right: rem(3);
                    display: inline;
                    position: relative;
                    top: rem(-3);
                }
            }

            .sec-line {
                display: block;
                font-family: "Helvetica Neue", sans-serif;
                font-weight: 300;
                color: $text-lighter;
                font-size: rem(14);
            }
        }

        .comment-content {
            margin-top: rem(12);
            margin-bottom: 0;
            word-wrap: break-word;
        }

        .delete {
            float: right;
            color: $alert;
            font-size: rem(14);
            font-weight: 300;
            padding: 0 rem(8);

            &:hover {
                text-decoration: underline;
            }
        }

        .edit {
            float: right;
            color: $text;
            font-size: rem(14);
            font-weight: 300;
            padding: 0 rem(8);

            &:hover {
                text-decoration: underline;
            }
        }

        .edited {
            float: left;
            color: $border;
            font-size: rem(14);
            font-weight: 300;
        }
    }
}

// CHAT
// CHAT FENSTER
.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    overflow-y: auto;

    &:-webkit-scrollbar {
        display: none;
    }

    .menu-items {
        margin-top: rem(40);

        li {
            button {
                width: 100%;
                min-height: rem(55);
                border-radius: rem(8);
                padding: rem(12) rem(15) rem(12) rem(15);
                transition: 350ms all ease-in-out;
                background-color: $primary;
                color: $white;
                margin-bottom: rem(10);
                text-align: left;

                span {
                    display: block;
                    font-weight: 300;
                    font-size: rem(12);
                    position: relative;
                    top: rem(-2);
                }

                &.unchoosen {
                    background-color: $white;
                    color: $text;

                    &:hover {
                        background-color: $primary;
                        color: $white;
                    }
                }
            }
        }
    }

    .go-back {
        position: fixed;
        bottom: rem(10);
        width: rem(230);

        button {
            color: $text;
            border: rem(1) solid $gray;
            background-color: $white;
        }
    }
}

.sidebar {
    position: fixed;
    height: 100%;
    width: rem(260);
    background: $gray;
    padding: rem(15);
    z-index: 99;

    &.close~.main {
        left: 0;
        width: 100%;
    }
}

.main {
    position: relative;
    left: rem(260);
    width: calc(100% - 260px);
    height: 100vh;
    transition: all 350ms ease-in-out;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7f2fd;

    .event-list {
        position: absolute;
        top: rem(95);
        left: rem(5);

        Button {
            border: rem(1) solid $text;
            padding: rem(8) rem(15);
        }
    }
}

// CHAT COMPONENT
.main {
    .chat-window {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        overflow-anchor: auto;

        .inner-chat {
            margin-top: rem(95);
            flex: 1;
            overflow-y: auto;
            padding: rem(20);

            .chat-bubble-user {
                width: fit-content;
                min-width: 3vw;
                max-width: 32vw;
                margin-left: auto;
                margin-right: 0;
                margin-bottom: rem(10);
                padding: rem(10) rem(10) rem(1) rem(10);
                border-radius: rem(20) rem(20) 0 rem(20);
                background-color: $primary;
                color: $white;
                word-wrap: break-word;
            }

            .chat-bubble-respond {
                width: fit-content;
                min-width: 3vw;
                max-width: 32vw;
                margin-left: auto;
                margin-right: 0;
                margin-bottom: rem(10);
                padding: rem(10) rem(10) rem(1) rem(10);
                border-radius: rem(20) rem(20) rem(20) 0;
                background-color: $white;
                color: $text;
                word-wrap: break-word;
            }

            .chat-info {
                font-family: monospace;
                width: fit-content;
                margin-left: auto;
                margin-right: 0;
            }
        }
    }

    .chat-bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #eeeeee;
        display: flex;
        align-items: center;
        padding: rem(10);
        border-top: rem(1) solid $gray;

        input {
            flex: 1;
            padding: rem(10);
            margin-right: rem(10);
            border: none;
            border-radius: rem(6);
            outline: none;
        }

        .sending {
            padding: rem(10) rem(15);
            border-radius: rem(6);
            background-color: $primary;
            color: $white;
            font-weight: 300;
        }
    }
}

.chat-room {
    position: absolute;
    top: rem(100);
    right: rem(10);
    text-transform: uppercase;
    font-weight: bold;
    color: $primary;

    &:hover {
        color: $secondary;
    }
}