.max-grid {
    max-width: rem(1360);
    width: 100%;
    margin: 0 auto;
    color: $text;
    padding: 0 rem(15);

    &.content {
        padding: rem(50) rem(15);

        @include breakpoint(md) {
            padding: rem(20) rem(15) rem(100) rem(15);
        }

        @include breakpoint(lg) {
            padding: rem(0) rem(15) rem(100) rem(15);
        }

        @include breakpoint(xl) {
            padding: rem(0) rem(15) rem(100) rem(15);
        }
    }

    &.content-pt {
        padding: rem(50) rem(15);

        @include breakpoint(md) {
            padding: rem(70) rem(15) rem(100) rem(15);
        }

        @include breakpoint(lg) {
            padding: rem(75) rem(15) rem(100) rem(15);
        }

        @include breakpoint(xl) {
            padding: rem(90) rem(15) rem(100) rem(15);
        }

        h2 {
            font-family: "Titan One", sans-serif;
            text-transform: uppercase;
            ont-size: rem(18);

            @include breakpoint(lg) {
                font-size: rem(20);
            }
        }
    }

    &.bg {
        background-color: $border;
    }

    &.team {
        ul {
            font-weight: 300;

            li {
                margin-bottom: rem(10);

                a {
                    color: $primary;

                    &:hover {
                        text-decoration: underline;
                        color: $primary;
                    }
                }
            }
        }
    }
}

.over-the-clouds {
    z-index: 999;
}

p {
    margin-bottom: rem(15) !important;
}

p>a {
    text-decoration: none;
    color: $secondary;

    &:hover {
        text-decoration: underline;
    }
}

.align-v {
    margin: auto 0;
}

.strong {
    font-weight: 600;
    font-size: rem(16);
}

.border-slim {
    border: 1px solid $border;
    border-radius: rem(6);
    background-color: $white;
}

.box-shadow {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.border-box {
    @extend .border-slim;

    &.setting-box {
        max-width: 95%;
        margin: 0 auto;

        @include breakpoint(md) {
            text-align: center;
        }

        @include breakpoint(lg) {
            text-align: left;
            margin: 0 0;
            max-width: rem(318);
        }
    }


    ul {
        padding: rem(28) rem(36) rem(28);

        li {
            padding: rem(7) 0;

            a {
                &.active {
                    color: $primary;
                }

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .help-link {
        display: block;
        position: relative;
        padding: rem(18) rem(36) rem(18);

        &:hover {
            color: $primary;
        }

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: rem(1);
            background-color: $border;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

form {
    label {
        display: block;
    }

    input {
        width: 100%;
        margin-top: rem(15);
        border: 1px solid $text;
        padding: rem(5) 0;
        border-radius: rem(6);

        &[type="submit"] {
            @extend .settings-btn;

            &.save {
                @extend .btn-secondary;
            }
        }
    }
}

.settings-btn {
    @extend .border-slim;
    padding: rem(6) rem(15);
    width: auto;
}

.btn-primary {
    background-color: $primary;
    border: 1px solid $primary;
    color: $white;
    transition: 350ms ease-in-out all;
    width: 100%;
    max-width: rem(200);
    height: rem(45);

    &:hover {
        background-color: $white;
        color: $primary;
        cursor: pointer;
    }
}

.btn-secondary {
    @extend .btn-primary;
    background-color: $secondary;
    border: rem(1) solid $secondary;

    &:hover {
        color: $secondary;
    }
}

.btn-alert {
    @extend .btn-primary;
    background-color: $alert;
    border: rem(1) solid $alert;

    &:hover {
        background-color: $alert;
        color: $white;
        border: rem(1) solid $alert;
    }
}

footer {
    background-color: $text;
    padding: rem(50) 0;
    //margin-top: rem(25);

    @include breakpoint(md) {
        padding: rem(65) 0;
        //margin-top: rem(55);
    }

    @include breakpoint(lg) {
        padding: rem(80) 0;
    }

    .line {
        margin-bottom: rem(50);
        display: block;
        position: relative;

        &::before {
            width: 1px;
            height: 120px;
            background-color: $white;
            position: absolute;
            left: 70%;
            top: 0px;

            @include breakpoint(lg) {
                content: '';
            }

            @include breakpoint(xl) {
                left: 50%;
            }
        }
    }

    .max-grid {
        color: $white;
        padding: 0 rem(15);

        @include breakpoint(lg) {
            max-width: rem(1230) !important;
            padding: 0 rem(15);
        }
    }

    .footer-logo {
        max-width: rem(250);
        width: 100%;
        margin: 0 auto;

        @include breakpoint(md) {
            margin: auto 0;
        }

        @include breakpoint(lg) {
            max-width: rem(290);
            float: right
        }
    }

    .konto {
        display: block;
        margin-bottom: rem(25);
        text-align: center;
    }

    .footer-navi {
        display: block;
        text-align: center;


    }

    p.hl {
        font-family: 'Titan One';
        font-size: rem(14);
        margin-bottom: rem(9) !important;

        @include breakpoint(md) {
            width: 100%;
            text-align: right;
            margin-bottom: rem(0) !important;
        }

        span {

            @include breakpoint(xl) {
                //display: block;
            }
        }
    }

    ul {
        li {
            @include breakpoint(md) {
                text-align: right;
            }

            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}


// HEADER

header {
    background-image: url('../../public/images/HEADER/header-bg-img.png');
    background-repeat: repeat;

    .header-general {
        padding: rem(125) rem(15) rem(50);
        text-align: center;

        @include breakpoint(md) {
            padding: rem(155) rem(15) rem(80);
        }

        @include breakpoint(lg) {
            padding: rem(155) rem(15) rem(100);
        }

        @include breakpoint(xl) {
            padding: rem(200) rem(15) rem(120);
            text-align: left;
        }
    }

    .header-page {
        padding: rem(145) rem(15) rem(30);
        text-align: center;

        @include breakpoint(md) {
            padding: rem(155) rem(15) rem(30);
        }

        @include breakpoint(xl) {
            padding: rem(150) rem(15) rem(36);
        }

        h1 {
            font-family: 'Titan One', sans-serif;
            font-size: rem(22);
            margin-top: 0;

            @include breakpoint(lg) {
                font-size: rem(27);
            }
        }
    }

    .header-event {
        padding: rem(145) rem(15) rem(30);

        @include breakpoint(md) {
            padding: rem(155) rem(15) rem(30);
        }

        @include breakpoint(xl) {
            padding: rem(150) rem(15) rem(36);
        }

        h1 {
            font-family: 'Titan One', sans-serif;
            font-size: rem(22);
            margin-top: 0;

            @include breakpoint(lg) {
                font-size: rem(27);
            }
        }
    }

    .clouds {
        position: relative;

        &::before {
            width: rem(133);
            height: rem(32);
            position: absolute;
            left: rem(-90);
            top: rem(65);
            display: block;
            z-index: 99;

            @include breakpoint(xl) {
                content: url('../img/cloud_1.png');
            }
        }

        &::after {
            width: rem(260);
            height: rem(65);
            position: absolute;
            left: rem(-40);
            top: rem(-65);
            display: block;
            z-index: 99;

            @include breakpoint(xl) {
                content: url('../img/cloud_2.png');
            }
        }
    }

    .header-logo {
        max-width: rem(200);
        margin: 0 auto;
        position: relative;

        @include breakpoint(ml) {
            max-width: rem(230);
        }

        @include breakpoint(xl) {
            max-width: rem(250);
            margin: auto;
        }
    }

    h1 {
        font-size: rem(35);
        margin-top: rem(30);
        text-transform: uppercase;

        @include breakpoint(md) {
            font-size: rem(55);
            margin-top: rem(45);
        }

        @include breakpoint(xxl) {
            font-size: rem(80);
        }


        span {
            margin-top: rem(15);
            display: block;
            font-weight: 300;
            font-size: rem(18);
            text-transform: none;

            @include breakpoint(md) {
                margin-top: rem(20);
                font-size: rem(20);
            }

            @include breakpoint(xxl) {
                margin-top: rem(35);
                font-size: rem(22);
            }
        }
    }

    .header-img-box {
        display: none;

        @include breakpoint(xl) {
            display: block;
        }
    }

    form {
        margin: rem(30) auto;
        width: 75%;
        max-width: rem(464);
        font-size: rem(16);
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 300;

        @include breakpoint(md) {
            width: 100%;
            margin: rem(40) auto rem(30) auto;
        }

        @include breakpoint(xl) {
            margin: rem(70) auto rem(30) auto;
        }

        label {
            &:first-child {
                input {
                    border-radius: rem(6) rem(6) 0 0;

                    @include breakpoint(md) {
                        border-radius: rem(6) 0 0 rem(6);
                    }
                }
            }

            @include breakpoint(md) {
                width: 33%;
                float: left;
            }

            input {
                border: rem(1) solid $border;
                width: 100%;
                margin: 0;
                border-radius: 0;
                min-height: rem(40);

                &::placeholder {
                    text-align: center;
                }

                &[type=submit] {
                    background-color: $primary;
                    color: $white;
                    width: 100%;
                    border-radius: 0 0 rem(6) rem(6);
                    position: relative;
                    border-color: $primary;

                    @include breakpoint(md) {
                        border-radius: 0 rem(6) rem(6) 0;
                    }

                    &:before {
                        content: url('../img/magnifying-glass.svg');
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

        }


    }

    .header-logged-in {
        padding: rem(125) rem(15) rem(50);

        @include breakpoint(md) {
            padding: rem(155) rem(15) rem(0);
        }

        @include breakpoint(lg) {
            padding: rem(155) rem(15) rem(0);
        }

        h1 {
            font-family: "Sue Ellen Francisco", cursive;
        }
    }
}

//MAIN

.bg-blue {
    width: 100%;
    background-color: $primary;
    background-image: url('../img/bg-pattern-white-dots.png');
    background-repeat: repeat;

    h2 {
        color: $white;
        font-size: rem(25);
        padding-left: 15px;
        margin-bottom: 0 !important;

        @include breakpoint(md) {
            font-size: rem(28);
        }

        @include breakpoint(xl) {
            font-size: rem(38);
        }

        >span {
            border-radius: rem(6);
            padding: rem(15) rem(18);
            font-size: rem(16);
            display: block;

            @include breakpoint(md) {
                display: inline;
                border: 1px solid $white;
            }

            .place {
                font-weight: 600;
            }
        }
    }

    p {
        margin-bottom: 0 !important;
    }
}

.bg-gray {
    width: 100%;
    background-color: $border;
    background-image: url('../img/bg-pattern-white-dots.png');
    background-repeat: repeat;
    padding: rem(20) 0;

    @include breakpoint(md) {
        padding: rem(70) 0;
    }

    @include breakpoint(lg) {
        padding: rem(140) 0;
    }

    @include breakpoint(xl) {
        padding: rem(150) 0;
    }

    h3 {
        font-size: rem(30);
        padding-left: rem(25);

        @include breakpoint(md) {
            padding-left: rem(35);
            font-size: rem(35);
        }

        @include breakpoint(xl) {
            font-size: rem(40);
        }
    }

    .register {
        padding: rem(25) rem(15);

        @include breakpoint(lg) {
            max-width: 90%;
            margin: 0 auto;
        }

        @include breakpoint(xl) {
            max-width: 80%;
        }

        >div {
            border-radius: rem(8);
            margin-top: rem(25);
            background-color: $white;
            position: relative;

            &::before {
                width: rem(318);
                height: rem(269);
                position: absolute;
                right: 0;
                bottom: -3px;

                @include breakpoint(md) {
                    content: url('../img/CHARACTER_COMMUNITY.png');
                }

                @include breakpoint(xxl) {
                    left: rem(-40);
                }
            }

            >p {
                padding: rem(25);

                @include breakpoint(md) {
                    padding: rem(35);
                    max-width: 50%;
                }

                @include breakpoint(lg) {
                    max-width: 60%;
                }

                @include breakpoint(xl) {
                    max-width: 70%;
                }
            }

        }
    }

    button {
        margin-top: rem(25);
        max-width: rem(270);
        display: block;
    }
}

.section {
    padding: rem(30) rem(15);

    @include breakpoint(md) {
        padding: rem(70) rem(15);
    }

    @include breakpoint(lg) {
        padding: rem(140) 0;
    }

    @include breakpoint(xl) {
        padding: rem(150) 0;
    }

    h2 {
        margin-bottom: rem(25);
        font-size: rem(30);

        @include breakpoint(md) {
            font-size: rem(33);
        }

        @include breakpoint(lg) {
            font-size: rem(38);
        }
    }
}

.root {
    position: relative;
}

.progressbar {
    display: block;
    width: 100%;
    height: rem(6);
    background-color: $border;
    position: fixed;
    top: rem(83);
    left: 0;
    right: 0;
    z-index: 1;

    @include breakpoint(lg) {
        top: rem(88);
    }

    span {
        display: inline-block;
        position: absolute;
        // width: 20%;
        height: rem(6);
        background-color: $secondary;
    }
}

.btn-event {
    transition: 350ms ease-in-out all;
    font-size: rem(16);
    text-align: center;
    width: rem(200);
    height: rem(45);

    &.add {
        border: 1px solid $primary;
        border-radius: rem(6);
        max-height: rem(40);
        background-color: $primary;
        color: $white;

        &:hover {
            color: $primary;
            background-color: $white;
        }
    }

    &.upload {
        max-width: rem(110) !important;
        border-radius: 0 6px 6px 0 !important;
        border-radius: rem(6);
        background-color: $border !important;
        border: rem(1) solid $border !important;
        color: $white;

        &.active {
            background-color: $secondary !important;
            border: rem(1) solid $secondary !important;

            &:hover {
                background-color: $secondary !important;
                border: rem(1) solid $secondary !important;
            }
        }
    }

    &.event-back {
        background-color: $white;
        color: $border;
        border-radius: rem(6);
        border: 1px solid $border;
        position: relative;
        overflow: hidden;

        &:hover {
            color: $white;
            background-color: $primary;
            border: 1px solid $primary;

            &:before {
                left: rem(-50);
                color: $white;
            }
        }

        // &:before {
        //     content: '<';
        //     color: $border;
        //     position: absolute;
        //     left: rem(50);
        //     top: rem(8);
        //     transition: 450ms ease-in-out all;
        // }
    }

    &.event-next {
        background-color: $secondary;
        color: $white;
        border-radius: rem(6);
        border: 1px solid $secondary;
        position: relative;
        overflow: hidden;

        &:hover {
            color: $secondary;
            background-color: $white;
            border: 1px solid $secondary;

            &:before {
                right: rem(-50);
                color: $secondary;
            }
        }

        // &:before {
        //     content: '>';
        //     color: $white;
        //     position: absolute;
        //     right: rem(60);
        //     top: rem(8);
        //     transition: 450ms ease-in-out all;
        // }
    }
}

.event-form {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;

    .input-field {
        border: rem(1) solid $border;
        width: 100%;
        margin: 0;
        border-radius: rem(6) 0 0 rem(6);
        padding: rem(10) rem(70);
        position: relative;
        left: rem(8);
    }

    input {
        border: rem(1) solid $border;
        width: 100%;
        margin: 0;
        border-radius: rem(6);
        min-height: rem(40);
        margin-bottom: rem(8);
        padding-left: rem(20);

        &::placeholder {
            text-align: left;
            //padding-left: rem(25);
        }

        &::-webkit-calendar-picker-indicator {
            padding-right: rem(15);
        }

        &::-webkit-datetime-edit {
            color: #a1a6b2;

            &:hover {
                cursor: pointer;
            }
        }
    }
}



.create-event-form {

    .step-name {

        h2 {
            font-size: rem(20);
            //font-weight: bold;

            @include breakpoint(lg) {
                //font-size: rem(24);
            }
        }

    }

    .tabber {}

    .selectedTabber {
        color: $white;
        background-color: $primary;
    }

    .highlightTabber {
        color: $white;
        background-color: rgba(32, 121, 255, 0.75);
    }

    .sub-headline {
        font-size: rem(14);
        margin: 35px 0 25px 0;
    }

    .hashtag-btn {
        padding: rem(3) rem(10);
        background-color: $border !important;
        border: rem(1) solid $border;
        color: $white;
        border-radius: rem(8);
        transition: 350ms all ease-in-out;
        font-size: rem(14);
        font-weight: bold;

        &:hover {
            border: rem(1) solid $primary;
            //background-color: $primary !important;
        }

        &.active {
            border: rem(1) solid $primary;
            background-color: $primary !important;
        }
    }

}

.MuiPaper-root {
    border: rem(1) solid $border !important;
    border-radius: rem(6) !important;
    margin-bottom: rem(10) !important;
    box-shadow: none !important;
}

// EVENT DETAILS

.event-box {
    border-radius: rem(8);
    border: rem(1) solid $border;
    font-weight: 300;

    .event-content-box-left {
        position: relative;
        padding: rem(25);

        @include breakpoint(md) {
            padding: rem(50) rem(25);
        }

        &:before {
            content: '';
            width: rem(1);
            height: 100%;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            background-color: $border;
        }

        ul {
            li {
                margin-bottom: rem(20);
                padding-left: rem(35);
                position: relative;

                &.date {
                    span {
                        display: block;
                    }

                    &:before {
                        content: url('../img/helper/heroicons-outline/clock.svg');
                        position: absolute;
                        left: 0;
                        top: rem(2);
                    }
                }

                &.adress {
                    span {
                        display: block;
                        color: $border;
                    }

                    &:before {
                        content: url('../img/helper/heroicons-outline/MAP\ VECTOR.svg');
                        position: absolute;
                        left: rem(3);
                        top: rem(3);
                    }
                }

                &.participants {

                    &:before {
                        content: url('../img/helper/heroicons-outline/community.svg');
                        position: absolute;
                        left: rem(2);
                        top: rem(3);
                    }
                }
                
            }
        }

        .btns {
            margin-top: rem(15);

            @include breakpoint(md) {
                margin-top: rem(35);
            }

            button {
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                border-radius: rem(6);
                transition: 350ms all ease-in-out;
                padding: rem(8) 0;


                &.teilnehmen {
                    background-color: $primary;
                    color: $white;
                    border: rem(1) solid $primary;
                    margin-bottom: rem(6);

                    &:hover {
                        border: rem(1) solid $secondary;
                        background-color: $secondary;
                    }

                    // &.austreten {
                    //     background-color: $alert;
                    //     color: $white;
                    //     border: rem(1) solid $alert;
                    //     margin-bottom: rem(6);
    
                    //     &:hover {
                    //         border: rem(1) solid $alert;
                    //         background-color: $alert;
                    //     }
                    // }
                }

                &.bewerten {
                    background-color: $white;
                    color: $primary;
                    border: rem(1) solid $primary;

                    &:hover {
                        border: rem(1) solid $secondary;
                        color: $secondary;
                    }
                }
            }
        }


    }

    .event-content-box-right {
        padding: rem(25);

        @include breakpoint(md) {
            padding: rem(50) rem(25);
        }

        h2 {
            text-transform: none;
            font-size: rem(22);
            font-family: "Sue Ellen Francisco";
            font-weight: 400;
            margin-bottom: rem(20);

            @include breakpoint(md) {
                font-size: rem(27);
            }
        }
    }
}

.hashtags {
    font-weight: 300;
    margin-top: rem(20);
    display: block;

    @include breakpoint(md) {
        float: right;
    }

    span {
        color: $white;
        background-color: $border;
        border: rem(1) solid $border;
        border-radius: rem(6);
        font-size: rem(14);
        padding: rem(2) rem(6);
        display: inline-block;


    }
}