// Default Colors Set
$border: #E0E6EF;





$default-light: #f8f9fa;
$light1: #eceff2;
$default-dark: #010407;
$white: #fff;

// Primary Colors Set
$primary: #0066ff;

// Secondary Colors Set
$secondary: #0d1e2d;

// Link Colors
$links: #0066ff;


// Grid
$max-row-width: 1200px;